Source: avrg-arrays
Section: utils
Priority: optional
Maintainer: GE <ge@email>
Build-Depends: debhelper-compat (= 12), g++
Standards-Version: 4.5.0
Architecture: amd64

Package: avrg-arrays
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, g++
Description: Программа для вычисления средних значений в частях массива
